extends ../../pug/modules/bace

block vars
    - title = 'Отслеживаемые идеи'
    - path = '../css/general.css'

block content

    include ../../pug/modules/nav

    include ../../pug/modules/header

    include ../../pug/bank-ideas/tracked-ideas/page-tracked-ideas

    include ../../pug/modules/footer

    script(type="module" src="../js/app.js")
    script(type="module" src="../js/navigation.js")
    <script src="https://kit.fontawesome.com/72a41cb45f.js" crossorigin="anonymous"></script>