extends ../../pug/modules/bace

block vars
    - title = 'Это название курса'
    - path = '../css/course.css'

block content

    include ../../pug/modules/nav

    include ../../pug/modules/header

    include ../../pug/my-assignments/course

    include ../../pug/modules/footer

    script(type="module" src="../js/navigation.js")
    script(type="module" src="../js/select.js")
    script(type="module" src="../js/downloads.js")
    <script src="https://kit.fontawesome.com/72a41cb45f.js" crossorigin="anonymous"></script>