@import './mixin';

body {
  font-family: 'inter';
  font-size: 14px;

  background-color: #F5F5F5;
}


.no-scroll {
  overflow: hidden;
}


.container__icon--18 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;

  i {
    text-align: center;
    font-size: 16px;
  }
}

.container__icon--24 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  i {
    text-align: center;
    font-size: 20px;
  }
}


.main-title {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: #303030;

  @media (max-width: 576px) {
    display: none;
  }
}


.secondary__button {
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: $blue;

  @include button-white;

  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #EAF7FB;
    color: $blue;
  }
}

.button-main {
  padding: 7px 20px;
  padding-bottom: 8px;

  @include button-white;

  border-radius: 6px;
  background-color: #FF0000;

  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #FFE6E6;
    color: #FF0000;
  }
}

.additional-button {
  padding: 8px 10px 7px 10px;
  background-color: $black;
  border-radius: 6px;
  color: $white;

  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $grayBack;
    color: $black;
  }
}