.padding-left {
  padding-left: 295px;

  @media (max-width: 992px) {
    padding-left: 30px !important;
  }

  @media (max-width: 576px) {
    padding-left: 16px !important;
  }
}

.active {
  display: block;
}

.active-navigation {
  position: fixed;
  left: -120%;
  display: block;
  transition: 0.3s ease-in-out;
}

.active-animation {
  left: 0;
}