section.reviews.padding-left
  .reviews__wrapper

    .page-navigation-ideas
      ul.page-navigation-ideas__list 
        li.page-navigation-ideas__item 
          a.page-navigation-ideas__link(href="./all-ideas.html") Все идеи
        li.page-navigation-ideas__item 
          a.page-navigation-ideas__link(href="./tracked-ideas.html") Отслеживаемые идеи
        li.page-navigation-ideas__item 
          a.page-navigation-ideas__link(href="./my-reviews.html") Мои отзывы



    .reviews__board 

      .reviews__item
        .reviews__content
          .reviews__title Хорошая идея номер 1
          .reviews__body 
            |Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          .reviews__link 
            a(href="#") Перейти к идее

      .reviews__item 
        .reviews__content
          .reviews__title Хорошая идея номер 1
          .reviews__body 
            |В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
        .reviews__link 
          a(href="#") Перейти к идее

      .reviews__item 
        .reviews__content
          .reviews__title Хорошая идея номер 1
          .reviews__body 
            |При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. Сайт рыбатекст поможет дизайнеру
        .reviews__link 
          a(href="#") Перейти к идее

      .reviews__item 
        .reviews__content
          .reviews__title Хорошая идея номер 1
          .reviews__body 
            |В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
        .reviews__link 
          a(href="#") Перейти к идее

      .reviews__item 
        .reviews__content
          .reviews__title Хорошая идея номер 1
          .reviews__body 
            |Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
        .reviews__link 
          a(href="#") Перейти к идее

      .reviews__item 
        .reviews__content
          .reviews__title Хорошая идея номер 1
          .reviews__body 
            |По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст
        .reviews__link 
          a(href="#") Перейти к идее

      .reviews__item 
        .reviews__content
          .reviews__title Хорошая идея номер 1
          .reviews__body 
            |По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст
        .reviews__link 
          a(href="#") Перейти к идее

      .reviews__item 
        .reviews__content
          .reviews__title Хорошая идея номер 1
          .reviews__body 
            |При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. Сайт рыбатекст поможет дизайнеру
        .reviews__link 
          a(href="#") Перейти к идее

      .reviews__item 
        .reviews__content
          .reviews__title Хорошая идея номер 1
          .reviews__body 
            |Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
        .reviews__link 
          a(href="#") Перейти к идее