block vars
    - let title = 'Page title';
    - let path = '';

doctype html
html.no-js(lang="ru")
    head 
        meta(charset="UTF-8")
        title #{title}
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        meta(property="og:title" content="")
        meta(property="og:type" content="")
        meta(property="og:url" content="")
        meta(property="og:description" content="")
        meta(property="og:image" content="")

        link(rel="icon" href="/favicon.ico" sizes="any")
        link(rel="icon" href="/icon.svg" type="image/svg+xml")
        link(rel="apple-touch-icon" href="icon.png")

        link(rel="stylesheet" href="../css/style.css")
        link(rel="stylesheet" href=path)

        link(rel="manifest" href="")
    body
        block content