header.header
  .header__wrapper.padding-left
    .header__title-block 
      button.header__burger
        i.fa-solid.fa-bars
      h1.header__title.main-title #{title}

    .header__general-function.general-function
      button.general-function__button.general-function__notifications.container__icon--24 
        i.fa-solid.fa-bell
      button.general-function__button.general-function__messages.container__icon--24 
        i.fa-regular.fa-message
      button.general-function__button.general-function__search.container__icon--24 
        i.fa-solid.fa-magnifying-glass
      button.general-function__button.general-function__user
        img(src="../img/user.png", alt="")