section.navigation-block-close
  div.navigation-block-close__header
    button.navigation-block-close__button-open
      i.fa-solid.fa-angles-right
  
  div.navigation-block__body

    nav.navigation-block__pages.navigation

      ul.navigation__list

        li.navigation__item
          a.navigation__link(href="#")
            div.container__icon--18.navigation-close__icon
              i.fa-regular.fa-user

        li.navigation__item
          a.navigation__link(href="#")
            div.container__icon--18.navigation-close__icon
              i.fa-regular.fa-calendar

        li.navigation__item
          a.navigation__link(href="#")
            div.container__icon--18.navigation-close__icon
              i.fa-solid.fa-chart-line

        li.navigation__item
          a.navigation__link(href="#")
            div.container__icon--18.navigation-close__icon
              i.fa-regular.fa-address-book

        li.navigation__item
          a.navigation__link(href="#")
            div.container__icon--18.navigation-close__icon
              i.fa-regular.fa-file-excel

        li.navigation__item
          a.navigation__link(href="#")
            div.container__icon--18.navigation-close__icon
              i.fa-regular.fa-newspaper

        li.navigation__item
          a.navigation__link(href="#")
            div.container__icon--18.navigation-close__icon
              i.fa-regular.fa-window-restore

        li.navigation__item
          a.navigation__link(href="#")
            div.container__icon--18.navigation-close__icon
              i.fa-regular.fa-lightbulb

        li.navigation__item
          a.navigation__link(href="#")
            div.container__icon--18.navigation-close__icon
              i.fa-solid.fa-list-check

section.navigation-block
  div.navigation-block__wrapper 

    //- top block whith logo

    div.navigation-block__header

      a(href="#") 
        img.navigation-block__logo(src="../img/logo.svg", alt="logo")
      button.navigation-block__button 
        i.fa-solid.fa-angles-left

    //- general block whith links

    div.navigation-block__body

      nav.navigation-block__pages.navigation

        ul.navigation__list

          li.navigation__item
            button.navigation__button(data-value="modul1")
              .navigation__block.nav-structure__header
                div.navigation__link-name.nav-structure__name
                  p Модуль 1. Введение. Выбор Ниши
                div.navigation__marker(data-marker="modul1")
                  i.fa-solid.fa-angle-right
              .nav-structure__progress.progress
                .progress__line
              
            .navigation__sub-menu.nav-structure__submenu(data-target="modul1")
              .nav-structure__module-link
                div.container__icon--18.nav-structure__icon
                  i.fa-regular.fa-file
                a.navigation__sub-menu-link(href="#") Введение
              .nav-structure__module-link
                div.container__icon--18.nav-structure__icon
                  i.fa-regular.fa-file
                a.navigation__sub-menu-link(href="#") Выбор ниши

          li.navigation__item
            button.navigation__button(data-value="modul2")
              .navigation__block.nav-structure__header
                div.navigation__link-name.nav-structure__name
                  p Модуль 2. Целеполагание
                div.navigation__marker(data-marker="modul2")
                  i.fa-solid.fa-angle-right
              .nav-structure__progress.progress
                .progress__line
              
            .navigation__sub-menu.nav-structure__submenu(data-target="modul2")
              .nav-structure__module-link
                div.container__icon--18.nav-structure__icon
                  i.fa-regular.fa-file
                a.navigation__sub-menu-link(href="#") Введение
              .nav-structure__module-link
                div.container__icon--18.nav-structure__icon
                  i.fa-regular.fa-file
                a.navigation__sub-menu-link(href="#") Выбор ниши

          li.navigation__item
            button.navigation__button(data-value="modul3")
              .navigation__block.nav-structure__header
                div.navigation__link-name.nav-structure__name
                  p Модуль 3. Бесплатные Каналы Трафика
                div.navigation__marker(data-marker="modul3")
                  i.fa-solid.fa-angle-right
              .nav-structure__progress.progress
                .progress__line
              
            .navigation__sub-menu.nav-structure__submenu(data-target="modul3")
              .nav-structure__module-link
                div.container__icon--18.nav-structure__icon
                  i.fa-regular.fa-file
                a.navigation__sub-menu-link(href="#") Введение
              .nav-structure__module-link
                div.container__icon--18.nav-structure__icon
                  i.fa-regular.fa-file
                a.navigation__sub-menu-link(href="#") Выбор ниши

          li.navigation__item
            button.navigation__button(data-value="modul4")
              .navigation__block.nav-structure__header
                div.navigation__link-name.nav-structure__name
                  p Модуль 4. Платные Каналы Трафика
                div.navigation__marker(data-marker="modul4")
                  i.fa-solid.fa-angle-right
              .nav-structure__progress.progress
                .progress__line
              
            .navigation__sub-menu.nav-structure__submenu(data-target="modul4")
              .nav-structure__module-link
                div.container__icon--18.nav-structure__icon
                  i.fa-regular.fa-file
                a.navigation__sub-menu-link(href="#") Введение
              .nav-structure__module-link
                div.container__icon--18.nav-structure__icon
                  i.fa-regular.fa-file
                a.navigation__sub-menu-link(href="#") Выбор ниши