section.tracked-ideas.padding-left
  
  .page-navigation-ideas.tracked-ideas__page-navigation-ideas
    ul.page-navigation-ideas__list 
      li.page-navigation-ideas__item 
        a.page-navigation-ideas__link(href="./all-ideas.html") Все идеи
      li.page-navigation-ideas__item 
        a.page-navigation-ideas__link(href="./tracked-ideas.html") Отслеживаемые идеи
      li.page-navigation-ideas__item 
        a.page-navigation-ideas__link(href="./my-reviews.html") Мои отзывы

  .tracked-ideas__board.board-ideas 

    .board-ideas__wrapper

      .board-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться
          

      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться


      .bord-ideas__item.idea

        .idea__wrapper 
          .idea__header 
            .idea__data 08.09.22
            .idea__avatar 
              img(src="../img/ava-1.png", alt="")
            .idea__rating 
              span.idea__rating_number 5
              i.fa-solid.fa-star
          .idea__body 
            .idea__user-name Игорь Разинкин
            .idea__name Хорошая Идея номер 1
            .idea__info 
              .idea__category Категория
              .idea__business-position онлайн/оффлайн
          button.idea__buton.secondary__button Подписаться

    button.board-ideas__more Смотреть еще