.comment-idea(data-vievcomment="goodIdea1")
  .container-idea
    .comment-idea__wrapper 
      
      button(data-backcomment="goodIdea1").comment-idea__back 
        i.fa-solid.fa-chevron-left

      .comments-idea__content.comments
        .comments__wrapper

          .comments__add
            input.comments__input.input-field(type="text" placeholder="Ваш комментарий")
            button.comments__button.secondary__button Отправить
          
          .comments__block
            .comments__maint.main-comment
              .main-comment__avatar 
                img(src="../img/user.png", alt="ava")
              .main-comment__body 
                .main-comment__name Андрей Ярухин
                .main-comment__message Какими качествами похож на них?
                .main-comment__footer 
                  .main-comment__data 20 мар в 8:10
                  button.main-comment__button Ответить
            .comments__sub.sub-comment
              .sub-comment__avatar 
                img(src="../img/user.png", alt="ava")
              .sub-comment__body 
                .sub-comment__name Андрей Ярухин
                .sub-comment__message Какими качествами похож на них?
                .sub-comment__footer 
                  .sub-comment__data 20 мар в 8:10
                  button.sub-comment__button Ответить

          .comments__block
            .comments__maint.main-comment
              .main-comment__avatar 
                img(src="../img/user.png", alt="ava")
              .main-comment__body 
                .main-comment__name Андрей Ярухин
                .main-comment__message Какими качествами похож на них?
                .main-comment__footer 
                  .main-comment__data 20 мар в 8:10
                  button.main-comment__button Ответить
            .comments__sub.sub-comment
              .sub-comment__avatar 
                img(src="../img/user.png", alt="ava")
              .sub-comment__body 
                .sub-comment__name Андрей Ярухин
                .sub-comment__message Какими качествами похож на них?
                .sub-comment__footer 
                  .sub-comment__data 20 мар в 8:10
                  button.sub-comment__button Ответить
