.create-reviews

  button.create-reviews__close.close.container__icon--18
    i.fa-solid.fa-xmark

  .create-reviews__title Отзыв на идею

  .create-reviews__form
    .create-reviews__textarea
      textarea.create-reviews__plus(name="", placeholder="Расскажите о плюсах")

      textarea.create-reviews__minus(name="", placeholder="Расскажите о минусах")
      
      textarea.create-reviews__message(name="", placeholder="Общий комментарий")
    
    .create-reviews__counters

      .create-reviews__counter-item
        .create-reviews__area Востребованность
        .create-reviews__count 
          .create-reviews__num 3
          .create-reviews__count-button 
            button.create-reviews__btn.create-reviews__more 
              i.fa-solid.fa-sort-up
            button.create-reviews__btn.create-reviews__less
              i.fa-solid.fa-caret-down
      .create-reviews__counter-item
        .create-reviews__area Востребованность
        .create-reviews__count 
          .create-reviews__num 2
          .create-reviews__count-button 
            button.create-reviews__btn.create-reviews__more 
              i.fa-solid.fa-sort-up
            button.create-reviews__btn.create-reviews__less
              i.fa-solid.fa-caret-down
      .create-reviews__counter-item
        .create-reviews__area Востребованность
        .create-reviews__count 
          .create-reviews__num 1
          .create-reviews__count-button 
            button.create-reviews__btn.create-reviews__more 
              i.fa-solid.fa-sort-up
            button.create-reviews__btn.create-reviews__less
              i.fa-solid.fa-caret-down
      .create-reviews__counter-item
        .create-reviews__area Востребованность
        .create-reviews__count 
          .create-reviews__num 4
          .create-reviews__count-button 
            button.create-reviews__btn.create-reviews__more 
              i.fa-solid.fa-sort-up
            button.create-reviews__btn.create-reviews__less
              i.fa-solid.fa-caret-down
      .create-reviews__counter-item
        .create-reviews__area Востребованность
        .create-reviews__count 
          .create-reviews__num 3
          .create-reviews__count-button 
            button.create-reviews__btn.create-reviews__more 
              i.fa-solid.fa-sort-up
            button.create-reviews__btn.create-reviews__less
              i.fa-solid.fa-caret-down

    button.create-reviews__button.secondary__button Отправить