section.my-assignments.padding-left
  .my-assignments__wrapper
    h2.my-assignments__title Список курсов, по которым доступны домашние задания
    .my-assignments__cuourses 
      .my-assignments__cours.my-assignments__cours-1
        .my-assignments__subtitle Это название курса
        a.my-assignments__btn.button-main(href="#") Перейти
      .my-assignments__cours.my-assignments__cours-2
        .my-assignments__subtitle Это название курса
        a.my-assignments__btn.button-main(href="#") Перейти
      .my-assignments__cours.my-assignments__cours-1
        .my-assignments__subtitle Это название курса
        a.my-assignments__btn.button-main(href="#") Перейти
      .my-assignments__cours.my-assignments__cours-2
        .my-assignments__subtitle Это название курса
        a.my-assignments__btn.button-main(href="#") Перейти